<h3>All the lists</h3>

<%= link_to 'Create list', new_list_path %>
<div class="cards">
  <% @lists.each do |l| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%=l.name %> - Contains <%= l.movies.count %> movies <%= link_to '👀', list_path(l) %>
    </div>
  <% end  %>
</div>
