<div class="login-box">
  <h2>New bookmark</h2>

  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <div class="user-box">
      <%= f.input :comment %>
    </div>
    <div class="user-box">
      <%= f.association :movie %>
    </div>
    <%= f.submit "Add bookmark", class: "btn-flat" %>
  <% end %>
</div>
