$spacer: 2rem;
$bold: #BD4B4B;
$contrast: #EEEEEE;
$light: #EFB7B7;
$background: #000000;
$box: #E6DDC4;

.btn-flat {
  color: $contrast;
  padding: 8px 24px;
  border-radius: 4px;
  background: $bold;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $bold;
  color: $contrast;
}

/* CSS */
.button-56 {
  display: flex;
  align-items: center;
  background-color: $light;
  border: 2px solid $background;
  border-radius: 8px;
  box-sizing: border-box;
  color: $background;
  cursor: pointer;
  display: flex;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 20%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: $bold;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: $light;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
